@charset "UTF-8";

.conteiner {
    background-size: 100% 100%;

    position: relative; /*Padrão */
    height: 80vh;

    padding: 10px;

    margin-bottom: 5px;
}

#conteudo { 
    background-image: url('../image/p_s.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    position: absolute; /*modificado*/
    height: 540px;
    width: 540px;
    background-color: white;
    
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}

#conteudo2 { 
    background-image: url('../image/p_a.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    position: absolute; /*modificado*/
    height: 540px;
    width: 540px;
    background-color: white;
    
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}

main p {
    text-align: center;
    line-height: 1.8em;
    margin-bottom: 60px;
}