body {
    height: 97vh;
    background-color: black;
    background-image: url(../imgs/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
}

main {
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid blue;
    border-radius: 15px;
}