body {
    background-image: url('https://gustavoguanabara.github.io/images/mascote-html5.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px dashed black;
    height: 97vh;
}