@font-face {
    font-family: 'Retro';
    src: url('fonts/Retro\ Gaming.ttf') format('truetype'), url('fonts/Retro-Gaming.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/*
Tipos de format
- opentype (otf)
- truetype (ttf)
- embeed-opentype
- truetype-aat (apple advanced Typography)
- svg
*/

body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Retro', Times, sans-serif;
    font-size: 3em;
    font-weight: normal;
}