@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --cor01: #70332B;
    --cor02: #701509;
    --cor03: #BD230F;
    --cor04: #F02C14;
    --cor05: #F26E5C;

    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}


* {
    margin: 0%;
    padding: 0%;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;

    font-family: var(--font1);
}

header {
    background-color: var(--cor02);
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;

    font-family: var(--font2);
}

header > p {
    padding-bottom: 50px;
    font-size: 2.5vw;
}

a {
    text-decoration: none;
    color: white;
}

header a, footer a, section a {
    font-weight: bolder;
}

header a:hover, footer a:hover, section a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3em;
    padding-left: 30px;

    font-size: 4.5vw;
    font-family: var(--font3);
}

section > p {
    padding-bottom: 2em;
}

.normal { 
    background-color: white;
    color: black;
}

.image {
    background-color: rgb(61, 61, 61);
    color: white;
    background-position: center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

.image > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.377);
    text-shadow: 2px 2px 0px black;
}

#image1 {
    background-image: url('../imgs/image1.jpg');
}

#image2 {
    background-image: url('../imgs/image2.jpg');
}

article {
    font-size: 2vw;

    background-color: white;
    padding-bottom: 30px;
}

article h2 {
    text-align: center;
}

article a {
    color: var(--cor03);
    transition-duration: .8s;
}

article a:hover {
    background-color: #F26E5C;
    border-radius: 20px;
    padding: 5px;
}

footer {
    background-color: var(--cor02);
    color: white;
    text-align: center;
    padding: 10px;
}